{% include 'candidates/candidates_header.html' %}
<br>
<form method="post">
	<center>
		<h2>Election</h2>
		<table border="1" align="center" style="width: 500px" class="table" >
		<tr>
			<th>Election Title</th>
			<th>Date</th>
			<th>Status</th>
		</tr>
		<tbody>
			{% for row in data['viewstat'] %}
			<tr>
				<td>{{row['titile']}}</td>
				<td>{{row['ele_date']}}</td>
				<td>{{row['vot_status']}}</td>
				{% if row['vot_status']=='start'%}
				<td><a href="/candidates/makevotes">make vote</a></td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</center>
</form>
{% include 'candidates/candidates_footer.html' %}