{% include 'candidates/candidates_header.html' %}
<br>
<form method="post">
	<center><h2>Change password</h2></center>
	<table border="1" align="center" style="width: 500px" class="table" >
		<tr>
			<th>User Name</th>
			<td><input type="text" name="uname" required=" " class="form-control" ></td>
		</tr>
		<tr>
			<th>Older Password</th>
			<td><input type="password" name="pwd1" required=" " class="form-control" ></td>
		</tr>

		<tr>
			<th>New Password</th>
			<td><input type="password" name="pwd2" required=" " class="form-control" ></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" value="submit"></td>
		</tr>
	</table>
</form>
<br>
<br>
{% include 'candidates/candidates_footer.html' %}