{% include 'candidates/candidates_header.html' %}
<br>
<form method="post">
	<center><h2>Categories</h2></center>
	<table border="1" align="center" style="width: 500px" class="table" >
		<tr>
			<th>Election Title</th>
			<th>Category Name</th>

		</tr>
		<tbody>
			{% for row in data['viewcat'] %}
			<tr>
				<td>{{row['titile']}}</td>
				<td>{{row['cat_name']}}</td>
				<td><a href="/candidates/applicationsub?ids={{row['cat_id']}}">submit application</a></td>
				<td><a href="/candidates/applistatus">application status</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
{% include 'candidates/candidates_footer.html' %}