{% include 'candidates/candidates_header.html' %}
<br>
<form method="post">
	<center><h2>Candidates</h2></center>
	<table border="1" align="center" style="width: 500px" class="table" >
		<tr>
			<th>Candidate Name</th>
			<th>Category Name</th>
			<th>Candidate Status</th>

		</tr>
		<tbody>
			{% for row in data['viewcandid'] %}
			<tr>
				<td>{{row['name']}}</td>
				<td>{{row['cat_name']}}</td>
				<td>{{row['cand_status']}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
{% include 'candidates/candidates_footer.html' %}