{% include 'admin/admin_header.html' %}
<br>
<form method="post" enctype="multipart/form-data">
	<center>
		<h2>Student Record</h2>
		{% if data['updatedata']%}
			<table  align="center" style="width: 500px" class="table" >
		
		
		<tr>
			<th>First Name</th>
			<td><input type="text" name="fname" required=" " class="form-control" value="{{data['updatedata'][0]['fname']}}"></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input type="text" name="lname" required=" " class="form-control" value="{{data['updatedata'][0]['lname']}}"></td>
		</tr>
		
		
		<tr>
			<th>Phone</th>
			<td><input type="text" name="phn" required=" " class="form-control" pattern="[0-9]{10}"value="{{data['updatedata'][0]['phone']}}" ></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><input type="email" name="email" required=" " class="form-control" value="{{data['updatedata'][0]['email']}}"></td>
		</tr>
		
		
		<tr>
			<td colspan="2" align="center"><input type="submit" name="update" value="Update"></td>
		</tr>
	</table>
		{% else %}
	<table border="1" align="center" style="width: 500px" class="table" >
		<tr>
			<th>Register Number</th>
			<td><input type="text" name="rno" required=" " class="form-control"></td>
		</tr>
		<tr>
			<th>First Name</th>
			<td><input type="text" name="fname" required=" " class="form-control"></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input type="text" name="lname" required=" " class="form-control" ></td>
		</tr>
		<tr>
			<th>Photo</th>
			<td><input type="file" name="img" required=" " class="form-control" ></td>
		</tr>
		<tr>
			<th>Course</th>
			<td><input type="text" name="course" required=" " class="form-control" ></td>
		</tr>
		<tr>
			<th>Batch</th>
			<td><input type="text" name="batch" required=" " class="form-control" ></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><input type="text" name="phn" required=" " class="form-control" pattern="[0-9]{10}" ></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><input type="email" name="email" required=" " class="form-control" ></td>
		</tr>
		<!-- <tr>
			<th>Secret key</th>
			<td><input type="text" name="key" required=" " class="form-control" ></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" name="pwd" required=" " class="form-control" ></td>
		</tr> -->
		<tr>
			<th>Password</th>
			<td><input type="password" name="pass" required=" " class="form-control" ></td>
		</tr>
		<tr>
			<th>Usertype</th>
			<td>
				Voter<input type="radio" name="stud" value="voter" required=" "  >
				candidate<input type="radio" name="stud" value="candidate" required=" "  >
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" value="Register"></td>
		</tr>
	</table>
	{% endif %}
	<table border="1" align="center" style="width: 500px" class="table" >
		<tr>
			<th>Register Number</th>
			<th>Name</th>
			<th>Photo</th>
			<th>Course</th>
			<th>Batch</th>
			<th>Phone</th>
			<th>Email</th>
			

		</tr>
		<tbody>
			{% for row in data['viewrecord'] %}
			<tr>
				<td>{{row['reg_no']}}</td>
				<td>{{row['fname']}} {{row['lname']}}</td>
				<td><img src="{{row['photo']}}" height="100" width="100"></td>
				<td>{{row['course']}}</td>
				<td>{{row['batch']}}</td>
				<td>{{row['phone']}}</td>
				<td>{{row['email']}}</td>
				
				<td>
					<a href="?action=update&ids={{row['stud_id']}}" class="btn btn-primary">update</a>
					<a href="?action=delete&ids={{row['stud_id']}}" class="btn btn-primary">delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	</center>
</form>
<br>
<br>
{% include 'admin/admin_footer.html' %}