{% include 'admin/admin_header.html' %}
<br>
<form method="post">
	<center>
		<h2>Category</h2>
		{% if data['updatedata']%}
			<table border="1" align="center" style="width: 500px" class="table" >
		
		
		<tr>
			<th>Election Title</th>
			<td>
				<select name="ele" required="" class="form-control">
					
					{% for row in data['viewele'] %}
					<option value="{{row['election_id']}}">{{row['titile']}}</option>
					{% endfor %}
					
				</select>
			</td>
		</tr>
		<tr>
			<th>Category Name</th>
			<td><input type="text" name="cname" required=" " class="form-control" value="{{data['updatedata'][0]['cat_name']}}" ></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center"><input type="submit" name="update" value="Update"></td>
		</tr>
	</table>
		{% else %}
	<table  align="center" style="width: 500px" class="table" >
		<tr>
			<th>Election Title</th>
			<td>
				<select name="ele" required="" class="form-control">
					<option selected="" readonly>select</option>
					{% for row in data['viewele'] %}
					<option value="{{row['election_id']}}">{{row['titile']}}</option>
					{% endfor %}
					
				</select>
			</td>
		</tr>
		<tr>
			<th>Category Name</th>
			<td><input type="text" name="cname" required=" " class="form-control" ></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" value="Add"></td>
		</tr>
	</table>
	{% endif %}
	<table border="1" align="center" style="width: 500px" class="table" >
		
		
		<tr>
			<th>Election Name</th>
			<th>Category Name</th>
		</tr>
		<tbody>
			{% for row in data['viewcat'] %}
			<tr>
			<td>{{row['titile']}}</td>
			<td>{{row['cat_name']}}</td>
			<td>
				<a href="?action=update&id={{row['cat_id']}}" class="btn
				btn-primary">update</a>
				<a href="?action=delete&id={{row['cat_id']}}" class="btn
				btn-primary">delete</a>
			</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	</center>
</form>
<br>
<br>
{% include 'admin/admin_footer.html' %}