{% include 'admin/admin_header.html' %}
<form method="post" enctype="multipart/form-data">
	<center>
		<h2>Applications</h2>
	<table border="1" align="center" style="width: 500px" class="table" >
		<tr>
			<th>Candidate Name</th>
			<th>Category</th>
			<th>Application Status</th>
			<th>Description</th>
		</tr>
		<tbody>
			{% for row in data['applcns'] %}
			<tr>
				<td>{{row['name']}}</td>
				<td>{{row['cat_name']}}</td>
				<td>{{row['appl_status']}}</td>
				<td><textarea rows="4" cols="50">{{row['description']}}</textarea></td>
				{% if row['appl_status']=='pending' %}
				<td>
					<a href="/admin/accept?id={{row['appl_id']}}&ids={{row['candid_id']}}">Accept</a>
					<a href="/admin/reject?id={{row['appl_id']}}&ids={{row['candid_id']}}">Reject</a>
				</td>
				
				{% elif row['appl_status']=='accept' %}
				<td>
				<a href="/admin/reject?id={{row['appl_id']}}&ids={{row['candid_id']}}">Reject</a></td>
				{% else %}
				<td>
				<a href="/admin/accept?id={{row['appl_id']}}&ids={{row['candid_id']}}">Accept</a>
				</td>
				{% endif %}

			</tr>
			{% endfor %}
		</tbody>
	</table>
	</center>
</form>
{% include 'admin/admin_footer.html' %}