{% include 'admin/admin_header.html' %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>

	<form method="post">
		<h3 align="center">Complaints</h3><br><br>
		<table align="center" border="1" style="width: 1000px" class="table">
			<tr>
				
				<th>Candidate Name</th>
				<th>Complaint</th>
				<th>Date</th>
				<th>Replay</th>
				
			</tr>

			{% for row in data['viewcompaint'] %}
			<tr>
				<td>{{row['name'] }}</td>
				<td>{{row['description']}}</td>
				<td>{{row['com_date'] }}</td>
				
				
				
				{% if row['solution'] == "pending" %}
				<td><input type="text" name="solution{{loop.index}}">
					<input type="submit" name="submit{{loop.index}}" value="Submit">
				</td>
				{% else %}
				
				<td>{{row['solution']}}</td>	
				{% endif %}
				

			</tr>
			{% endfor %}
		</table>
		
	</form>
	<br>
<br>
<br>
<br>


{% include 'admin/admin_footer.html' %}